@charset "UTF-8";

/* CSS Variables */
:root {
    --Bg: #000;
    --Grey: #898989;
    --Yellow: #FFDB00;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Urbanist;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

/* Body Styles */
body {
    width: 100%;
    margin: 0 auto;
}

/* Wrapper */
#wrap {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* Header Styles */
#wrap header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--Bg);
}

#wrap header .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrap header .mainmenu {
    display: flex;
    align-items: center;
}

#wrap header .headerInner {
    /* width: 100%; */
    height: 100%;
    margin-top: 20px;
    /* display: flex; */

    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wrap header .logo img {
    width: 120px;
    margin-top: 8px;
}

#wrap header ul .mainmenu {
    right: 0;
}

/* Main Content Styles */
#wrap main {
    width: 1200px;
    margin: 0 auto;
}

/* Main Menu Styles */
#wrap .mainmenu li {
    font-size: 15px;
    font-weight: 200;
    position: relative;
    letter-spacing: 2px;
}

#wrap header .mainmenu span {
    color: var(--Yellow);
}


#wrap .mainmenu li a {
    color: #ededed;
    text-decoration: none;
    padding: 10px;
    display: block;
}

#wrap .mainmenu li a:hover {
    color: var(--Yellow);
}

#wrap .mainmenu li a span {
    color: var(--Yellow);
}

#wrap nav.menu {
    width: 100%;
    justify-content: flex-end;
}

/* Section Titles */
main section h1 {
    font-size: 40px;
    font-weight: 200;
    margin-top: 80px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

section h1 span {
    color: var(--Yellow);
}

/* main */
.slogan {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 520px;
}

.text-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.vertical-line {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-left: 3px solid var(--Yellow); /* Adjust color and width as needed */
}

.text {
    margin-left: 20px; /* Space between text and line */
    line-height: 1.5; /* Adjust line height as needed */
}

section .inner {
    font-size: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height:2.3;
    color: #898989;
}

.inner span {
    border-bottom: 1px solid var(--Yellow); /* 기본 밑줄 색상과 두께 */
    padding-bottom: 2px;
}

.inner span:hover {
    border-bottom: 1px solid var(--Bg);
    padding-bottom: 2px;
    transition: 0.5s;
    cursor: pointer;
}

/* Footer */
#wrap footer {
    width: 100%;
    margin-top: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #161616;
}

footer .footerInner {
    width: 1200px;
    margin: 0 auto;
}

footer .footerInner .bmenu {
    display: flex;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
}

footer .footerInner .bmenu li {
    margin-right: 15px;
}

footer .footerInner .bmenu li a:hover {
    color: var(--Yellow);
    transition: 0.5s;
}

.bmenu a {
    color: #898989;
}

.bmenu span {
    margin-right: 15px;
    font-weight: 600;
    color: #898989;
}

/* Contact Section */
.contact {
    display: flex;
    flex-direction: column;
}

.contact>div {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--Grey);
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    text-decoration: none;
    margin-right: 60px;
    color: var(--Grey);
}

.contact a:hover {
    color: var(--Yellow);
    transition: 0.5s;
}

/* Copyright */

.footerInner .copy {
    display: flex;
    justify-content: space-between;
}

.footerInner .copyright {
    font-size: 11px;
    letter-spacing: 2px;
    color: var(--Grey);
    opacity: 0.7;
    flex: 1 1 25%;
}

.footerInner .copyright-in {
    display: flex;
    font-size: 11px;
    color: var(--Grey);
    flex: 1 1 30%;
    gap: 30px;
    /* Grow to fill 30% of the space */
}

/* Media Queries */

/* For screens wider than 900px */
@media (min-width: 900px) {
    .contact>div {
        flex-direction: row;
    }

    .contact ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    .contact li {
        margin: 0 20px 0 0;
    }

    footer .footerInner .bmenu li {
        margin-bottom: 50px;
    }
    
}

/* For screens 899px wide and narrower */
@media (max-width: 899px) {

    #wrap .mainmenu li {
        display: none;
    }

    #wrap header .logo img {
        margin-left: 20px;
    }

    main section h1 {
        font-size: 20px;
        font-weight: 300;
        margin-left: 15px;
        letter-spacing: 3px;
        margin-top: 80px;
    }

    main section h1 span {
        font-size: 18px;
    }

    #myVideo {
        width: 800px;
    }

    .slogan {
        margin-left: 320px;
    }
    .inner {
        width: 800px;
    }

    footer {
        padding: 15px;
    }

    .bmenu {
        font-size: 18px;
        flex-direction: column;
        line-height: 35px;
        margin-bottom: 40px;
    }

    .bmenu li {
        font-size: 18px;
    }

    .bmenu span {
        display: none;
    }

    .contact>div {
        flex-direction: row;
    }

    .contact .group1,
    .contact .group2 {
        display: flex;
        flex-direction: column;
    }

    .contact .group1 {
        margin-right: 120px;
    }

    .copy {
        flex-direction: column;
        gap: 40px;
    }

    .copyright {
        width: 810px;
    }

}